---
import Linkedin from "@/icons/Linkedin.astro";
import Mail from "../../icons/Mail.astro";
import MapPinIcon from "../../icons/MapPinIcon.astro";
import Section from "../Section.astro";
import { basics } from "@cv";

const { name, email, label, image, location, url } = basics;
const { city, region } = location;
---

<Section class="flex flex-row gap-4 justify-between items-center pt-10 mx-auto">
  <div class="flex flex-col gap-2 p-16 mt-11">
    <h1 class="text-yellow-400 text-4xl font-bold">{name}</h1>
    <h2 class="text-gray-50">{label}</h2>
    <span class="flex gap-1">
      <MapPinIcon />
      {city}, {region}
    </span>
    <footer class="flex gap-1 mt-2">
      <a
        class="hover:text-blue-500"
        href={`mailto:${email}`}
        title={`Enviar un correo electrónico a ${name} al correo ${email}`}
        target="_blank"
        rel="noopener noreferrer"
      >
        <Mail />
      </a>
      <a
        class="ml-2"
        href={`${url}`}
        title="Visitar mi perfil de Linkedin"
        target="_blank"
        rel="noopener noreferrer"
      >
        <Linkedin />
      </a>
    </footer>
  </div>
  <figure class="justify-center items-center pr-0">
    <img
      src={image}
      alt="me"
      class="border-4 dark:border-red-200 aspect-square object-cover w-32 rounded-xl"
    />
  </figure>
</Section>

<style>
  a {
    @apply inline-flex items-center justify-center border h-8 w-8 transition-all duration-[0.3s] ease-[ease] p-1 rounded-md border-solid hover:border hover:border-solid hover:border-[#ddd] hover:bg-[#eee];
  }  
</style>
